
.my_nav a{
    text-decoration: none;
    font-size: 20px;
    display: block;
  }
  
  
  
  .pp{
      color: rebeccapurple;
  }
  
  #navbar {
  background-color: #46ce8a;
  position: fixed;
  /* top: -50px; */
  height: 42px;
  width: 100%;
  display: flex;
  transition: top 0.3s;
  text-align: center;
  align-items: center;
  /* color: black; */
  }
  
  #navbar a {
  /* float: left; */
  /* display: block; */
  /* color: #f2f2f2; */
  color: black;
  /* height: 100px; */
  text-align: center;
  padding: 13px;
  /* margin-top: 10px; */
  text-decoration: none;
  font-size: 17px;
display: block;  
}
  
  #navbar a:hover {
  background-color: #ddd;
  color: black;
  }


  .course_info{
      height: 100%;
      margin-top: 40px;
      background-color: red;
  }

  .main_table{
    width: 100%;
    table-layout: fixed;
    text-align: center;
  }

  .main_table tr{
      height:70px;
  }