body {
    margin: 0;
    font-family: "Lato", sans-serif;
  }
  
  .sidebar {
    margin: 0;
    padding: 0;
    width: 200px;
    background-color: #f1f1f1;
    position: fixed;
    height: 100%;
    overflow: auto;
  }
  
  .sidebar a {
    display: block;
    color: black;
    padding: 16px;
    text-decoration: none;
  }
   
  .sidebar a.active {
    background-color: #04AA6D;
    color: white;
  }
  
  .sidebar a:hover:not(.active) {
    background-color: #555;
    color: white;
  }
  
  .content {
    margin-left: 200px;
    padding: 1px 16px;
    height: 100%;
    background-color: rgb(215, 221, 210);
  }
  
  @media screen and (max-width: 700px) {
    .sidebar {
      width: 100%;
      height: auto;
      position: relative;
    }
    .sidebar a {float: left;}
    div.content {margin-left: 0;}
  }
  
  @media screen and (max-width: 400px) {
    .sidebar a {
      text-align: center;
      float: none;
    }
  }
  

  
  .info{
    text-align: center;
    margin: 50px;
  margin-top: 10%;
  }
  
  .main-table{
    width: 100%;
    table-layout: fixed ;
  border-spacing: 20px 2px;
  border-width: 10px;
  }
  
  .main-table tr{
    height: 100px;
  }


  .main-table td{
    margin: 10px;
    font-size:30px;
  }

  .table_head{
    font-weight: bold;
   
  }

  input.larger {
    width: 30px;
    height: 30px;
  }
/*   */
  /* Might want to wrap a span around your checkbox text */





  .sub_btn{
    margin: 40px;
    width: 30%;
    height: 50px;
    font-weight: bold;
    font-size: 20px;
    color: rgb(39, 146, 189);
    border-radius: 20px;
  }




















  